@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello from etcd (running on: <span>@ViewData["os"]</span>)!</h1>

<p>This sample shows blah blah blah</p>

<p>This is from etcd: <span>@ViewData["etcd"]</span></p>